* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Vazir;
}
.header_top {
  width: 100%;
  height: 60px;
  background: url('./img/2.webp') no-repeat center/cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 5px;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_right > img {
  margin: 0 20px;
}
.header_right .searchBox {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 600px;
  height: 45px;
  background-color: #f6f6f6;
  border-radius: 10px;
}
.header_right .searchBox span {
  color: #797979;
  font-size: 20px;
  padding: 0 15px;
}
.header_right .searchBox input {
  background: transparent;
  border: none;
  outline: none;
  width: calc(100% - 50px);
  color: #404040;
}
.header_left {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header_left .auth {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px 15px;
  font-size: 12px;
  margin: 0 12px;
  cursor: pointer;
  color: #424242;
}
.header_left .auth span {
  font-size: 15px;
  margin: 0 4px;
}
.header_left .auth p {
  margin: 0 4px;
}
.header_left .line_h {
  width: 1px;
  height: 35px;
  background: #bbb;
  margin: 0 10px;
}
.header_left .buy {
  margin: 0 15px;
  color: #444;
  font-size: 22px;
}

nav {
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.14), 0 2px 0 rgba(0, 0, 0, 0.05);
}
nav .nav_right {
  width: auto;
  height: 100%;
}
nav .nav_right ul {
  display: flex;
  justify-content: start;
  align-items: center;
}
nav .nav_right ul li {
  margin: 0 10px;
  position: relative;
}
nav .nav_right ul li::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  width: 1%;
  height: 1.5px;
  background: #fff;
  transition: 0.2s;
}
nav .nav_right ul li:hover:before {
  width: 100%;
  background: #ff2828;
}

nav .nav_right ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 13px;
  color: #62666d;
}
nav .nav_right ul li a span {
  margin: 0 8px;
  font-size: 15px;
}
nav .nav_right ul li:first-child a {
  font-size: 14px !important;
  color: #363636;
}

nav .nav_left {
  width: auto;
  height: 100%;
}
nav .nav_left ul {
  display: flex;
  justify-content: start;
  align-items: center;
}
nav .nav_left ul li {
  margin: 0 10px;
  position: relative;
}

nav .nav_left ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 13px;
  color: #626d64;
}
nav .nav_left ul li a span {
  margin: 0 8px;
  font-size: 15px;
}
.story {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  width: 75%;
  height: auto;
  margin: 5px 130px;
  border-left: 3px solid #fff;
  /* background-color: #333; */
  overflow: hidden;
}
.story > span {
  background-color: #fff;
  color: #797979;
  border: 1px solid #797979;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  padding: 9px 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.story a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 12px;
  width: 55%;
  color: #363636;
  /* background-color: yellowgreen; */
  font-size: 14px;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  padding: 3px;
  background: linear-gradient(
    45deg,
    #feda77,
    #f58529,
    #dd2a7b,
    #8134af,
    #515bd4
  );
}
.circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  padding: 1.5px;
}
/* .story a .circle img::before {
  content: '';
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(
    45deg,
    #feda77,
    #f58529,
    #dd2a7b,
    #8134af,
    #515bd4
  );
} */
.story .title {
  margin: 15px 0;
  font-size: 12px;
}
/* Slider Step */
/* .slider {
  display: flex;
  overflow: hidden;
  border:1px solid black;
}
.slider div {
  position: relative;
  display: flex;
  animation: slider 20s infinite;
}
.slider div img {
  flex: 1 0 50%;
  height: 450px;
  width: 100%;
  min-height: 150px;
} */

.slider {
  /* display: flex; */
  overflow: hidden;
  border: 1px solid #3332;
}
.slider div {
  position: relative;
  width: 500%;
  right: 0;
  animation: slider 20s infinite;
}
.slider div img {
  float: right;
  width: 20%;
}
@keyframes slider {
  0% {
    right: 0;
  }
  20% {
    right: 0;
  }
  25% {
    right: -100%;
  }
  45% {
    right: -100%;
  }
  50% {
    right: -200%;
  }
  70% {
    right: -200%;
  }
  75% {
    right: -300%;
  }
  95% {
    right: -300%;
  }
  100% {
    right: -400%;
  }
}
/* services */
.main {
  width: 75%;
  height: auto;
  margin: 35px auto;
}
.main .digi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .digi li {
  width: auto;
  height: auto;
}
.main .digi li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .digi li a span {
  font-size: 12px;
  margin: 10px 0;
  color: #424242;
}
.main .digi li a i {
  font-size: 20px;
  color: #888;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 15px 17px;
}

/* Anazing */
.offer {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 300px;
  background: #ef4056;
  margin: 25px 0;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid #ef4056;
}
.offer > div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 40px;
}
.offer > span {
  background-color: #fff;
  color: #797979;
  border: 1px solid #797979;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  padding: 9px 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.offer > div img:nth-child(2) {
  margin: 10px 0;
}
.offer > div span {
  color: #fff;
  margin: 0 3px;
  font-size: 12px;
}
.offer > ul {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 90%;
}
.offer > ul li {
  width: 200px;
  height: 270px;
  background: #fff;
  margin: 0 1px;
}
.offer > ul li:first-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.offer > ul li:last-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.offer > ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.offer > ul li a img {
  margin: 10px 0;
  width: 80%;
  height: 60%;
}
.offer_price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.offer_dic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.offer_price > p {
  background: #ef4056;
  color: #fff;
  font-size: 11px;
  padding: 3px 8px;
  border-radius: 20px;
}
.offer_price > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer_price > div > p:nth-child(1) {
  font-size: 15px;
  color: #424242;
}
.offer_price > div > p:nth-child(2) {
  font-size: 11px;
  color: #4c4c4c;
  margin: 0 3px;
}
.offer_dic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.offer_dic > div {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
  color: #af005b;
}
.offer_dic > div > span {
  font-size: 13px;
  color: #870048;
  margin: 10px 5px;
}
.offer_dic > del {
  color: #a6a6a6;
  font-size: 12px;
}
.offer_prog {
  width: 80%;
  height: 4px;
  position: relative;
  background-color: #eeee;
  border-radius: 30px;
  margin: 10px 0;
}
.offer_prog::before {
  content: '';
  position: absolute;
  /* color: #ef4056; */
  top: 0;
  left: 0;
  background-color: #ef4056;
  width: 60%;
  height: 100%;
  border-radius: 30px;
}
/* offer market */
.offer_market {
  width: 100%;
  height: 100px;
  background: url('./img/shop/other/3.svg') left center no-repeat #f2f2f2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.offer_market .offer_market_right {
  display: flex;
  align-items: center;
  justify-content: start;
}
.offer_market .offer_market_right img {
  margin: 0 20px;
}
.offer_market .offer_market_right h4 {
  background: #39ae00;
  color: #fff;
  padding: 4px 10px;
  border-radius: 25px;
}
.offer_market .offer_market_left {
  display: flex;
  align-items: center;
  justify-content: end;
}
.offer_market .offer_market_left ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_market .offer_market_left ul li {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_market .offer_market_left ul li a {
  width: 80px;
  height: 80px;
  display: block;
  background: #fff;
  border-radius: 50%;
}
.offer_market .offer_market_left ul li a img {
  width: 65px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  left: -7px;
  top: 7px;
}
/* width="58" height="68"  */
.offer_market .offer_market_left ul li a p {
  position: relative;
  top: -12px;
  background: #ef4056;
  color: #fff;
  float: right;
  padding: 4px 6px;
  border-radius: 14px;
  font-size: 11px;
}
.offer_market_left > div {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #39ae00;
  padding: 10px 20px;
  border-radius: 35px;
  font-size: 18px;
}
.offer_market_left > div span {
  margin: 0 5px;
  font-size: 15px;
}
.banner {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
}
.banner a {
  width: 350x;
  height: auto;
  margin: 5px;
  border-radius: 15px;
}
.banner a img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.cat {
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  margin: 35px auto;
}
.cat .cat_product {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px;
}
.cat .cat_product > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 30px;
}
.cat .cat_product > a > h5 {
  margin: 10px 0;
  color: #4c4c4c;
}
.banner_2 {
  width: 100%;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}
.banner_2 a {
  width: 680px;
  height: auto;
  margin: 7px;
}
.banner_2 a img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
}

.disText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  font-size: 20px;
}
.discount {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #bbb;
  border-radius: 25px;
  overflow: hidden;
}
.discount ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.discount ul li {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 40px 0 0; */
  margin-right: 50px;
  border-right: 1px solid #bbb;
}
.discount ul li:first-child{
  border-right: 0;
  margin-right: 0;
}
.discount ul li div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.discount ul li div a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 45px;
  border-bottom: 1px solid #bbb;
}
.discount ul li div a:last-child {
  border-bottom: 0;
}
.discount ul li div a h6 {
  margin-top : 15px;
  color: #424242;
}
.discount .offer_arrow{
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top:50%;
  transform: translateY(-50%);
}
.barnds{
  width: 100%;
  height: auto;
  border: 1px solid #bbb;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.barnds .header_brands{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.barnds .header_brands>span {
   margin: 0 10px;
   color:#ff6d00;
   font-size: 20px;
}
.barnds  .footer_brands{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 30px 0;
}